@model CatfishCove.Web.Models.BuffetRotatingWeek

@{
  ViewBag.Title = "CreateRotating";
}

<div class="ui sixteen wide column">
  <header>
    <h1>Create Rotating Buffet Item</h1>
  </header>
  <div class="ui form segment">
    @using (Html.BeginForm())
    {
      @Html.AntiForgeryToken()
      <div class="ui error message">
        @Html.ValidationSummary(true)
      </div>
      <div class="field">
        @Html.LabelFor(model => model.SundayDate)
        <div class="ui left labeled icon input">
          @Html.EditorFor(model => model.SundayDate)
          @Html.ValidationMessageFor(model => model.SundayDate)
        </div>
      </div>
      
      <div class="field">
        @Html.LabelFor(model => model.Meat)
        <div class="input">
          @Html.DropDownListFor(model => model.Meat.Id, (SelectList) ViewBag.MeatItems)
          @Html.ValidationMessageFor(model => model.Meat)
        </div>
      </div>

      <div class="field">
        @Html.LabelFor(model => model.Casserole)
        <div class="input">
          @Html.DropDownListFor(model => model.Casserole.Id, (SelectList) ViewBag.CasseroleItems)
          @Html.ValidationMessageFor(model => model.Casserole)
        </div>
      </div>

      <div class="field">
        @Html.LabelFor(model => model.Corn)
        <div class="input">
          @Html.DropDownListFor(model => model.Corn.Id, (SelectList) ViewBag.CornItems)
          @Html.ValidationMessageFor(model => model.Corn)
        </div>
      </div>

      <div class="field">
        @Html.LabelFor(model => model.Beans)
        <div class="input">
          @Html.DropDownListFor(model => model.Beans.Id, (SelectList) ViewBag.BeanItems)
          @Html.ValidationMessageFor(model => model.Beans)
        </div>
      </div>

      <input type="submit" value="Save" class="ui button teal" />
    }
  </div>
  <div>
    <br />
    @Html.ActionLink("Back to List", "Index")
  </div>
</div>