@model IEnumerable<BuffetItem>

@{
  ViewBag.Title = "Catfish Cove Seafood Sunday Buffet";
  ViewBag.Description = "On Sundays from 11:00am to 3:00pm we have a super delicous country cookin' buffet.  It's all you can eat with access to our full salad bar, and dessert for $9.75.";
}

<div class="ui sixteen wide column">
  <header>
    <div class="ui vertical segment">
      <h1 class="ui header">
        <i class="circular calendar icon"></i>
        <div class="content">
          Sunday Buffet
          <div class="sub header">&nbsp;&nbsp;&nbsp;all you can eat...</div>
        </div>
      </h1>
      <p>
        On Sundays from 11:00am to 3:00pm we have a super delicious country cookin' buffet.  It's all you can eat with access to our full salad
        bar, and dessert for $10.25.  Kids 6 - 10 eat for $6.75, under 6 for $2.75, and carry-out plates are $5.25 a pound.
      </p>
    </div>
  </header>
  @if (User.Identity.IsAuthenticated)
  {
    <p>
      <a asp-action="Create">Create New Buffet Item</a> |
      <a asp-action="CreateRotating">Create New Rotating Item</a>
    </p>
  }
  <h3>Rotating Items</h3>
  
  <div class="sixteen wide column">
    <div class="ui icon message">
      <i class="attention icon"></i>
      <div class="content">
        <div class="header">
          During the COVID-19 pandemic we will be offering a limited take-out menu.
        </div>
        <p><a href="https://www.facebook.com/Catfish-Cove-104912379552535/" class="item">Please check our facebook page to see the sunday menu.</a></p>
      </div>
    </div>
  </div>
  @*<table class="ui table segment">
    <thead>
      <tr>
        @if (User.Identity.IsAuthenticated)
        {
          <th></th>
        }
        <th>Date</th>
        <th>Meat</th>
        <th>Casserole</th>
        <th>Corn Style</th>
        <th>Beans</th>
        <th>Alt Chicken</th>
      </tr>
    </thead>
    <tbody>
      @foreach (BuffetRotatingWeek week in ViewBag.RotatingItems)
      {
        <tr>
          @if (User.Identity.IsAuthenticated)
          {
            <td>
              <a asp-action="EditRotating" asp-route-id="@week.Id">Edit</a> |
              <a asp-action="DeleteRotating" asp-route-id="@week.Id">Delete</a>
            </td>
          }
          <td>@week.SundayDate.ToShortDateString()</td>
          <td>@(week.Meat == null ? "Closed" : week.Meat.BuffetItem.Name)</td>
          <td>@(week.Casserole == null ? "Closed" : week.Casserole.BuffetItem.Name)</td>
          <td>@(week.Corn == null ? "Closed" : week.Corn.BuffetItem.Name)</td>
          <td>@(week.Beans == null ? "Closed" : week.Beans.BuffetItem.Name)</td>
          <td>@(week.AltChicken == null ? "Closed" : week.AltChicken.BuffetItem.Name)</td>
        </tr>
      }
    </tbody>
  </table>*@
  <h3>Staples</h3>
  
  <div class="sixteen wide column">
    <div class="ui icon message">
      <i class="attention icon"></i>
      <div class="content">
        <div class="header">
          During the COVID-19 pandemic we will be offering a limited take-out menu.
        </div>
        <p><a href="https://www.facebook.com/Catfish-Cove-104912379552535/" class="item">Please check our facebook page to see the sunday menu.</a></p>
      </div>
    </div>
  </div>
  @*<table class="ui table segment">
    <thead>
      <tr>
        @if (User.Identity.IsAuthenticated)
        {
          <th></th>
        }
        <th>Item</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      @foreach (BuffetItem item in ViewBag.StapleCrops)
      {
        <tr>
          @if (User.Identity.IsAuthenticated)
          {
            <td>
              <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
              <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
          }
          <td>@item.Name</td>
          <td>@item.FoodType.Name</td>
          <td>@item.Description</td>
        </tr>
      }
    </tbody>
  </table>*@
</div>
