@using CatfishCove.Web.Models
@model IEnumerable<BuffetItem>

@{
  ViewBag.Title = "Catfish Cove Seafood Sunday Buffet";
  ViewBag.Description = "On Sundays from 11:00am to 3:00pm we have a super delicous country cookin' buffet.  It's all you can eat with access to our full salad bar, and dessert for $7.95.";
}

<div class="ui sixteen wide column">
  <header>
    <div class="ui vertical segment">
      <h1 class="ui header">
        <i class="circular calendar icon"></i>
        <div class="content">
          Sunday Buffet
          <div class="sub header">&nbsp;&nbsp;&nbsp;all you can eat...</div>
        </div>
      </h1>
      <p>
        On Sundays from 11:00am to 3:00pm we have a super delicious country cookin' buffet.  It's all you can eat with access to our full salad
        bar, and dessert for $9.75.  Kids under 10 eat for $6.75, under 6 for $2.75, and carry-out plates are $4.75 a pound.
      </p>
    </div>
  </header>
  @if (User.Identity.IsAuthenticated)
  {
    <p>
      @Html.ActionLink("Create New Buffet Item", "Create") |
      @Html.ActionLink("Create New Rotating Item", "CreateRotating")
    </p>
  }
  <h3>Rotating Items</h3>
  <table class="ui table segment">
    <thead>
      <tr>
        @if (User.Identity.IsAuthenticated)
        {
          <th></th>
        }
        <th>Date</th>
        <th>Meat</th>
        <th>Casserole</th>
        <th>Corn Style</th>
        <th>Beans</th>
      </tr>
    </thead>
    <tbody>
      @foreach (BuffetRotatingWeek week in ViewBag.RotatingItems)
      {
        <tr>
          @if (User.Identity.IsAuthenticated)
          {
            <td>
              @Html.ActionLink("Edit", "EditRotating", new { id = week.Id }) |
              @Html.ActionLink("Delete", "DeleteRotating", new { id = week.Id })
            </td>
          }
          <td>@week.SundayDate.ToShortDateString()</td>
          <td>@(week.Meat == null ? "Closed" : week.Meat.BuffetItem.Name)</td>
          <td>@(week.Casserole == null ? "Closed" : week.Casserole.BuffetItem.Name)</td>
          <td>@(week.Corn == null ? "Closed" : week.Corn.BuffetItem.Name)</td>
          <td>@(week.Beans == null ? "Closed" : week.Beans.BuffetItem.Name)</td>
        </tr>
      }
    </tbody>
  </table>
  <h3>Staple Crops</h3>
  <table class="ui table segment">
    <thead>
      <tr>
        @if (User.Identity.IsAuthenticated)
        {
          <th></th>
        }
        <th>Item</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      @foreach (BuffetItem item in ViewBag.StapleCrops)
      {
        <tr>
          @if (User.Identity.IsAuthenticated)
          {
            <td>
              @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
              @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
          }
          <td>@item.Name</td>
          <td>@item.FoodType.Name</td>
          <td>@item.Description</td>
        </tr>
      }
    </tbody>
  </table>
</div>
