@model IEnumerable<CatfishCove.Models.BuffetItem>

@{
    ViewBag.Title = "Catfish Cove Seafood Sunday Buffet";
    ViewBag.Description = "On Sundays from 11:00am to 3:00pm we have a super delicous country cookin' buffet.  It's all you can eat with access to our full salad bar, and dessert for $7.95.";
}

<section id="Sunday Buffet">
    <header class="page-header">
        <h2>Sunday Buffet<small>&nbsp;&nbsp;&nbsp;all you can eat...</small></h2>
    </header>
    <p>On Sundays from 11:00am to 3:00pm we have a super delicious country cookin' buffet.  It's all you can eat with access to our full salad
    bar, and dessert for $8.75.  Kids under 10 eat for $5.95, under 6 for $2.25, and carry-out plates are $4.10 a pound.</p>
    @if (User.Identity.IsAuthenticated)
    {
    <p>
        @Html.ActionLink("Create New Buffet Item", "Create") |
        @Html.ActionLink("Create New Rotating Item", "CreateRotating")
    </p>
    }
    <h3>Rotating Items</h3>
    <table class="table table-striped table-bordered">
        <tr>
        @if (User.Identity.IsAuthenticated)
        {
            <th></th>
        }
            <th>Date</th>
            <th>Meat</th>
            <th>Casserole</th>
            <th>Corn Style</th>
            <th>Beans</th>
        </tr>
        @foreach (CatfishCove.Models.BuffetRotatingWeek week in ViewBag.RotatingItems)
        {
            <tr>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink("Edit", "EditRotating", new { id = week.Id }) |
                    @Html.ActionLink("Delete", "DeleteRotating", new { id = week.Id })
                </td>
            }
                <td>@week.SundayDate.ToShortDateString()</td>
                <td>@(week.Meat == null ? "Closed" : week.Meat.BuffetItem.Name)</td>
                <td>@(week.Casserole == null ? "Closed" : week.Casserole.BuffetItem.Name)</td>
                <td>@(week.Corn == null ? "Closed" : week.Corn.BuffetItem.Name)</td>
                <td>@(week.Beans == null ? "Closed" : week.Beans.BuffetItem.Name)</td>
            </tr>
        }
    </table>
    <h3>Staple Crops</h3>
    <table class="table table-striped table-bordered">
        <tr>@if (User.Identity.IsAuthenticated)
            {
            <th></th>
            }
            <th>Item</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        @foreach (CatfishCove.Models.BuffetItem item in ViewBag.StapleCrops)
        {
            <tr>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
                <td>@item.Name</td>
                <td>@item.FoodType.Name</td>
                <td>@item.Description</td>
            </tr>
        }
    </table>
</section>

<script type="text/javascript">    SetActiveMenuItem("Buffet");</script>
