@model IEnumerable<CatfishCove.Models.FoodType>

@{
    ViewBag.Title = "Catfish Cove Seafood";
}

<div class="page-header">
    <h1>Food Types</h1>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Menu Order
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
            @item.Name
        </td>
        <td>
            @item.MenuOrder
        </td>
    </tr>
}

</table>

