@{  
    ViewBag.Title = "Catfish Cove Seafood, Belmont, NC";
    ViewBag.Description = "Catfish Cove is a seafood restaurant (fish camp) in Belmont, NC.  We are known for great fried fish and chicken and our country cookin' Sunday lunch buffet";
}

<div class="alert alert-success">
   <h1>Open For Thanksgiving!</h1>
   Join us on Thanksgiving for a holiday version of our country cookin' lunch buffet.  We'll be here from 11:00am to 3:00pm and prices for the buffet are:
   <ul>
      <li>$8.75 for adults</li>
      <li>$6.00 for children under 10</li>
      <li>$2.50 for children under 6</li>
   </ul>
</div>
<div class="hero-unit">
    <h2>Welcome to Catfish Cove</h2>
    <p>By visiting Catfish Cove Online you can now browse our menu, see what's coming up on the Sunday buffet, and MORE!</p>
    <div class="row visible-desktop">
        <div class="span5">
            <img class="img-rounded" src="@Url.Content("~/Content/Images/CatfishCoveFront.png")" alt="Catfish Cove Front" style="height: 240px;">
        </div>
        <div class="span5">
            <img class="img-rounded" src="@Url.Content("~/Content/Images/SaladBar.png")" alt="Catfish Cove Salad Bar" style="height: 240px;">
        </div>
    </div>   
</div>        
<p>Catfish Cove is a seafood restaurant (fish camp) in Belmont, NC.  We are known for great fried fish and chicken and our country cookin' Sunday lunch buffet.</p>        
<div class="row"> 
    <div class="span4"> 
        <h1>Menu</h1> 
        <p>Check out our great menu full of all the fried and grilled seafood anyone could ask for.</p> 
        <p>@Html.ActionLink("More details", "Index", "Menu", null, new { @class = "btn" })</p> 
    </div> 
    <div class="span4"> 
        <h1>Sunday Buffet</h1> 
        <p>Check out our famous country cookin' lunch buffet full of all your favorite home cooked foods.</p> 
        <p>@Html.ActionLink("More details", "Index", "Buffet", null, new { @class = "btn" })</p> 
    </div> 
    <div class="span4"> 
        <h1>Catering</h1> 
        <p>Come let us cook our great seafood or country cookin' at your event.</p> 
        <p>@Html.ActionLink("More details", "Catering", "Home", null, new { @class = "btn" })</p> 
    </div> 
</div>


<script type="text/javascript">    SetActiveMenuItem("Home");</script>