@model IEnumerable<CatfishCove.Models.BuffetItem>

@{
    ViewBag.Title = "Catfish Cove Seafood Sunday Buffet";
    ViewBag.Description = "On Sundays from 11:00am to 3:00pm we have a super delicous country cookin' buffet.  It's all you can eat with access to our full salad bar, and dessert for $7.95.";
}

<section id="Sunday Buffet">
    <header class="page-header">
        <h2>Sunday Buffet<small>&nbsp;&nbsp;&nbsp;all you can eat...</small></h2>
    </header>
   <div class="alert alert-success">
      <h1>Open For Thanksgiving!</h1>
      Join us on Thanksgiving for a holiday version of our country cookin' lunch buffet.  We'll be here from 11:00am to 3:00pm and prices for the buffet are:
      <ul>
         <li>$8.75 for adults</li>
         <li>$6.00 for children under 10</li>
         <li>$2.50 for children under 6</li>
      </ul>
      @Html.ActionLink("Menu", "Thanksgiving", "Buffet", null, new { @class = "btn btn-success" })
   </div>
    <p>On Sundays from 11:00am to 3:00pm we have a super delicious country cookin' buffet.  It's all you can eat with access to our full salad
    bar, and dessert for $8.25.  Kids under 12 eat for $5.50, and carry-out plates are $4 a pound.</p>
    @if (User.Identity.IsAuthenticated)
    {
    <p>
        @Html.ActionLink("Create New Buffet Item", "Create") |
        @Html.ActionLink("Create New Rotating Item", "CreateRotating")
    </p>
    }
    <h3>Rotating Items</h3>
    <table class="table table-striped table-bordered">
        <tr>
        @if (User.Identity.IsAuthenticated)
        {
            <th></th>
        }
            <th>Date</th>
            <th>Meat</th>
            <th>Casserole</th>
            <th>Corn Style</th>
            <th>Beans</th>
        </tr>
        @foreach (CatfishCove.Models.BuffetRotatingWeek week in ViewBag.RotatingItems)
        {
            <tr>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink("Edit", "EditRotating", new { id = week.Id }) |
                    @Html.ActionLink("Delete", "DeleteRotating", new { id = week.Id })
                </td>
            }
                <td>@week.SundayDate.ToShortDateString()</td>
                <td>@(week.Meat == null ? "Closed" : week.Meat.BuffetItem.Name)</td>
                <td>@(week.Casserole == null ? "Closed" : week.Casserole.BuffetItem.Name)</td>
                <td>@(week.Corn == null ? "Closed" : week.Corn.BuffetItem.Name)</td>
                <td>@(week.Beans == null ? "Closed" : week.Beans.BuffetItem.Name)</td>
            </tr>
        }
    </table>
    <h3>Staple Crops</h3>
    <table class="table table-striped table-bordered">
        <tr>@if (User.Identity.IsAuthenticated)
            {
            <th></th>
            }
            <th>Item</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        @foreach (CatfishCove.Models.BuffetItem item in ViewBag.StapleCrops)
        {
            <tr>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
                <td>@item.Name</td>
                <td>@item.FoodType.Name</td>
                <td>@item.Description</td>
            </tr>
        }
    </table>
</section>

<script type="text/javascript">    SetActiveMenuItem("Buffet");</script>
