@model CatfishCove.Web.Models.ManageUserViewModel

<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { role = "form"}))
{
  @Html.AntiForgeryToken()

  <h4>Create Local Login</h4>
  <div class="ui divider"></div>
  <div class="ui error message">
    @Html.ValidationSummary()
  </div>
  <div class="ui form segment">
    <div class="field">
      @Html.LabelFor(m => m.NewPassword)
      <div class="ui left labeled icon input">
        @Html.PasswordFor(m => m.NewPassword)
      </div>
    </div>
    <div class="field">
      @Html.LabelFor(m => m.ConfirmPassword)
      <div class="ui left labeled icon input">
        @Html.PasswordFor(m => m.ConfirmPassword)
      </div>
    </div>
    <input type="submit" value="Set password" class="ui button teal" />
  </div>
}
