@using Microsoft.AspNet.Identity
@model CatfishCove.Web.Models.ManageUserViewModel


  <p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>

  @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
  <div class="ui form segment">
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <div class="ui divider"></div>
    <div class="ui error message">@Html.ValidationSummary()</div>
    <div class="field">
      @Html.LabelFor(m => m.OldPassword)
      <div class="ui left labeled icon input">
        @Html.PasswordFor(m => m.OldPassword)
      </div>
    </div>
    <div class="field">
      @Html.LabelFor(m => m.NewPassword)
      <div class="ui left labeled icon input">
        @Html.PasswordFor(m => m.NewPassword)
      </div>
    </div>
    <div class="field">
      @Html.LabelFor(m => m.ConfirmPassword)
      <div class="ui labeled icon input">
        @Html.PasswordFor(m => m.ConfirmPassword)
      </div>
    </div>

    <input type="submit" value="Change password" class="ui teal submit button" />
  </div>
}